$blur: 20px;
$opacity: 0.2;
$size: min(80vw, 80vh);

.welcome-container {
    height: $size;
    width: $size;
    
    background-color: hsla(0,0%,100%, $opacity);
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
    border: 0px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: min(40vw, 40vh);
    -webkit-border-radius: min(40vw, 40vh);
    // color: rgba(255, 255, 255, 0.75);

    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}